<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2 style = "font-size:48px; text-align:center; margin-bottom:10px;">Haine</h2>
    <div style = "width:20%; background-color:#F8F9FA; 
    border-style:solid; border-color:#EAEDEF; border-width:2px; text-align:center;
    margin-left:auto; margin-right:auto; padding: 0 10px 0 10px;">
            <p style = "font-size:14px;width:100%; text-align:left; color:gray;">안녕하세요. Haine 입니다. 이 아래의 버튼을 누르시면 회원가입이 완료됩니다.본인이 요청하지 않으셨다면 메일을 무시해주세요.<p>
    </div>
    <div style="text-align: center; margin-top: 15px;">
        <button type="button" style="width:50%; background-color:pink; height:50px; text-align: center; line-height:50px; border: none;">계속하기</button>
    </div>
    <div style = "text-align:center;">
        <p style = "margin-bottom:0; color: gray; font-size:16px; margin-bottom: 0px;">위 버튼을 클릭하시거나 다음 링크를 눌러주세요</p>
        <a style = "color:pink" href = "url">url</a>
        <p style = "font-size: 15px; color: gray; letter-spacing: 0.0px;">이 링크는 24시간동안 유효합니다.</p>
    </div>
</body>
</html>